@model MyShop.Models.CartIndexViewModel

@{
    ViewBag.Title = "Web Store: Your cart";
    Model.ReturnUrl= Model.ReturnUrl ?? "/Home/Index/";
}

<h2>YOUR CART</h2>
<table class="table" >
    <thead>
        <tr>
            <th class="text-center">quantity</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total price</th>
            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("# UAH")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("# UAH"))
                </td>
                <td class="text-right">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id", line.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Delete" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"> <strong>Total:</strong></td>
            <td class="text-right">
                <strong>@Model.Cart.ComputeTotalValue().ToString("# UAH")</strong> 
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Return to the store</a>
    @Html.ActionLink("Create order", "Checkout", null, new { @class = "btn btn-primary" })
</div>

@*@Html.ActionLink("IndexSearch", "Order", null, new { @class = "btn btn-primary" })*@

@if (Request.IsAuthenticated)
{
    @Html.Action("IndexSearch")
    
}