@model IEnumerable<Store.Logic.ProductStore.Models.ViewModels.ProductGroupViewModel>

@{
    ViewBag.Title = "Group list";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    @Styles.Render("~/Content/css");
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Group list</h3>
    </div>
    <div id="EditForm">
        @Html.ActionLink("Add new group", "Edit", null,
            new { @class = "btn btn-success" })
    </div>
    <table class="table table-striped table-condensed table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupDescription)
            </th>
            <th class="text-center">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)
                </td>
                <td>
                    @Html.ActionLink(item.GroupName, "Edit", new { item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupDescription)
                </td>
                <td class="text-center">
                    @using (Html.BeginForm("Delete", "Group"))
                    {
                        @Html.Hidden("Id", item.Id)
                        <input type="submit"
                               class="btn btn-danger"
                               value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>
</div>